.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 15px;
  font-weight: 400;
}

.timestamp {
  font-size: 0.6em;
  float: right;
}

.avatar {
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  float:left;
}

.user-msg {
 float: right;
 background-color: #fff  !important ;
 color: #000 !important;
 margin-right: 20px;
}

.user-avatar {
  float: right;
  margin-left: 5px !important;
}

.user-name {
  float: right;
}

.list-group-item {
  display: inline-block;
  max-width: 70%;
  background-color : #0088cc;
  color: #fff;
  margin-top: 8px;
  border-radius: 25px;
  border: none;
}

.list-group-item:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -11px;
  right: auto;
  top: 35px;
  bottom: auto;
  border: 20px solid;
  border-color: #0088cc transparent transparent transparent;
}

.user-msg:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -11px;
  top: 35px;
  bottom: auto;
  border: 20px solid;
  border-color: #fff transparent transparent transparent;
}