.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}
.timeform {
  float: left;
  width: 100%;
}
.timeform i {
  margin-left: 20px;
}
.timeform .timestamp {
  font-size: 0.6em;
  float: right;
}
.avatar {
  width: 50px;
  margin-right: 20px;
}

.user-msg {
	background-color: #ccc;
}