.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;


}
.timeform {
  float: left;
  width: 100%;
}
.timeform i {
  margin-left: 20px;
}
.timestamp {
  font-size: 0.6em;
  float: right;
}
.avatar {
  width: 50px;
  margin-right: 20px;
  float:left;
}

.user-msg {
	float: right;
 background-color: #fff  !important ;
 color: #000 !important;
 margin-right: 20px;
}

.user-avatar {
  float: right;
}

.user-name {
  float: right;
}

.list-group-item {
  display: inline-block;
  background-color : #0088cc;
  color: #fff;
}

.list-group-item:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -15px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 20px solid;
  border-color: #0088cc transparent transparent transparent;
}

.user-msg:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -15px;
  top: 38px;
  bottom: auto;
  border: 20px solid;
  border-color: #fff transparent transparent transparent;
}